@using Microsoft.AspNetCore.Mvc.TagHelpers
@using VirtualBazaar.Models
@model VirtualBazaar.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Item</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <label>Name:</label>
    <input asp-for="Name" />

    <label>Price:</label>
    <input type="number" asp-for="Price"></input>

    <label>Category:</label>
    <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()"></select>

    <label>Current Image:</label>
    <img src="@Model.ImageUrl" alt="@Model.Name" style="width: 100px; height: 100px;" />

    <label>New Image:</label>
    <input type="file" name="image" accept="image/*" />

    <button type="submit">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>